@media(max-width:380px){
    body{
        background-color: #ccc;
    }
    .contenedor{
        width: 80%;
        margin: auto;
        background-color: #fff;
        padding: 10px;
    }
    .cel{
        color: #00aced;
        text-align: center

    }
    .tablet,.pc{
        /*Para que no se muestre la palabra tablet ni pc*/
        display: none;

    }
    
}
@media(min-width:381px) and (max-width:800px){
    body{
        background-color: #ccc;
    }
    .contenedor{
        width: 90%;
        margin: auto;
        background-color: #fff;
        padding: 10px;
    }
    .tablet{
        color: #000;
        text-align: center

    }
    .cel,.pc{
        /*Para que no se muestren estas palabras*/
        display: none;

    }
    
}
@media(min-width:801px){
    body{
        background-color: #00aced;
    }
    .contenedor{
        width: 80%;
        margin: auto;
        background-color: rgb(211, 125, 161);
        padding: 10px;
    }
    .pc{
        color: #000;
        text-align: center;
        font-size: 64px;
    }
    .cel,.tablet{
        /*Para que no se muestren estas palabras*/
        display: none;

    }
    
}