body{
    margin: 0px;
    padding: 0px;
    font-family: verdana;
}
.col-center{
    width: 960px;
    margin: auto;
}
.logo{
    float: left;
}
.redes{
    float: right;
    list-style: none;
    margin: opx;
}
.redes li{
    float: left;
    margin-left: 10px;
}
header{
    height: 80px;
}
.section-top{
    background-image: url('../img/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    padding-top: 40px;
}
.content-left{
    float: left;
    width: 580px;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    padding: 10PX;
    border-radius: 4PX;
}
.content-right{
    float: right;
    width: 300px;
    text-align: center;
    background-color: rgba(89, 196, 211, 0.315);
    color: rgb(52, 156, 216);
    padding: 10px;
}
.input{
    width: 280px;
    padding: 8px;
}
.button{
    background-color: #00aced;
    padding:8px;
    color: #fff;
    border: 0px;
}
.center-text{
    text-align: center;
}
.margin-top{
    margin-top: 40px;
}
a{
    text-decoration: none;
}